<div class="locals-header">
  <h2>Locales</h2>
  <app-disclaimer></app-disclaimer>
</div>
<app-filters (searchChange)="onSearchTermChange($event)" (tipoChange)="setTipoFiltro($event)"
  (categoriaChange)="setCategoriaFiltro($event)">
</app-filters>
<!-- Loading -->
<div *ngIf="loading" class="spinner-container">
  <div class="spinner"></div>
</div>
<!-- Error -->
<div *ngIf="!loading && errorMessage" class="error">
  {{ errorMessage }}
</div>
<ng-container *ngIf="locales$ | async as locales">
  <div *ngIf="!loading && !errorMessage && locales.length === 0" class="error no-locals">
    No se encontraron locales. Disculpe las molestias.
  </div>
  <div *ngIf="!loading && !errorMessage && locales.length > 0">
    <div class="cards-grid">
      <app-cards *ngFor="let local of locales" [local]="local"></app-cards>
    </div>
  </div>
</ng-container>