@use '../_variables.scss' as *;
@use 'sass:color';


.contact {
  background: linear-gradient(135deg, $color-gradiente-1, $color-gradiente-2);
  color: $color-blanco;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 4px 10px $color-rojo-sombra;
  border-radius: 8px;
  margin-top: 2rem;

  p {
    font-size: $font-size-p;
    margin-bottom: 1rem;
    line-height: $line-height-base;
  }

  .label {
    font-weight: $font-weight-semibold;
  }

  a {
    display: inline-block;
    background-color: $color-fondo-suave;
    color: $color-rojo-principal;
    font-weight: $font-weight-bold;
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: color.scale($color-amarillo-fuerte, $lightness: -10%);
      transform: translateY(-2px);
    }
  }
}