// Colores principales
$color-blanco: #ffffff;
$color-fondo-suave: #fff3cd;
$color-amarillo-claro: #fffbe6;
$color-amarillo-fuerte: #ffc107; 
$color-rojo-principal: #d00000;
$color-rojo-hover: #a00000;
$color-rojo-sombra: rgba(255, 0, 0, 0.1);

$color-texto-principal: #333;
$color-texto-secundario: #555;
$color-texto-terciario: #888;
$color-icono-select: #777;
$color-borde-select: #ccc;

$color-gradiente-1: #b84a4a;
$color-gradiente-2: #a33b3b;


// Tipografía
$font-family-base: 'Segoe UI', sans-serif;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

$font-size-base: 1rem;
$font-size-label: 0.95rem;
$font-size-h2: 1.5rem;
$font-size-h1: 3rem;
$font-size-p: 1.1rem;
$line-height-base: 1.4;