@use './_variables.scss' as *;

:host {
  display: block;
  background-color: $color-amarillo-claro;
  color: $color-rojo-principal;
  font-family: $font-family-base;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

#inicio,
#locales,
#contacto {
  scroll-margin-top: 100px;
}


.main-header {
  background: linear-gradient(135deg, $color-gradiente-1, $color-gradiente-2);
  color: $color-blanco;
  padding: 3rem 1rem;
  text-align: center;
  box-shadow: 0 4px 10px $color-rojo-sombra;
}