@use '../../../variables' as *;
@use 'sass:color';

.filtros {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: $color-fondo-suave;
  border: 1px solid $color-amarillo-fuerte;
  border-radius: 8px;
  width: fit-content;
  margin-left: auto;
  max-width: 100%;

  label {
    display: flex;
    flex-direction: column;
    font-weight: $font-weight-semibold;
    color: $color-texto-principal;
    font-size: $font-size-label;
    min-width: 180px;

    select {
      margin-top: 0.4rem;
      padding: 0.6rem 1rem;
      border-radius: 12px;
      border: 1px solid $color-borde-select;
      font-size: $font-size-base;
      background-color: $color-amarillo-claro;
      color: $color-texto-principal;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23777' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
      background-repeat: no-repeat;
      background-position: right 1rem center;
      background-size: 1rem;
      transition: border-color 0.2s;

      &:focus {
        border-color: $color-rojo-principal;
        outline: none;
        box-shadow: 0 0 8px 3px $color-rojo-sombra;
        background-image: url("data:image/svg+xml;utf8,<svg fill='%23d00000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
      }
    }
  }

  .search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 250px;
    max-width: 400px;
    flex-grow: 1;

    label {
      margin-bottom: 0.3rem;
    }

    input.find {
      width: 100%;
      padding: 0.6rem 2.5rem 0.6rem 1rem;
      border-radius: 12px;
      border: 1px solid $color-borde-select;
      font-size: $font-size-base;
      background-color: $color-amarillo-claro;
      color: $color-texto-principal;
      transition: border-color 0.2s;
      box-sizing: border-box;

      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='11' cy='11' r='8'/><line x1='21' y1='21' x2='16.65' y2='16.65'/></svg>");
      background-repeat: no-repeat;
      background-position: right 1rem center;
      background-size: 1.25rem 1.25rem;

      &::placeholder {
        color: $color-texto-secundario;
      }

      &:focus {
        border-color: $color-rojo-principal;
        outline: none;
        box-shadow: 0 0 8px 3px $color-rojo-sombra;
      }
    }
  }

  @media (max-width: 730px) {
    align-items: stretch;

    label {
      width: 100%;
    }

    .search-container {
      width: 100%;
      max-width: 100%;
    }
  }
}