@use './app/_variables.scss' as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.highlight {
  font-weight: $font-weight-bold;
}

.main-content {
  padding: 2rem 1rem;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  border-top: 2px solid $color-amarillo-fuerte;
  color: $color-texto-terciario;
  margin-top: 4rem;
}

.footer-link {
  font-size: 0.9em; 
  color: $color-texto-secundario; 
  margin-top: 10px;
}

.footer-link a {
  color: $color-rojo-principal;
  text-decoration: none;
}

.footer-link a:hover {
  text-decoration: underline;
}
